<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="img/Comics.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/comic.CSS">
  <title>Inicio | ComicsForce</title>
  <script src="JS/principal.js"></script>
</head>

<body class="container" >
  <ul>

    <li><a href="IndexconInicio.html" style="padding: 0;"><img class="ipn" src="img/Comics.png"></a></li>
    <li> <input class="nav" type="search" placeholder="Encuentra un Articulo" id="nav"  onkeypress="return (event.charCode !== 60 && event.charCode !== 62)"></li>
    <button class="butcarr" type="submit" onclick="prueb()"><img class="butcar" src="img/buscar.png"></button>

   

    <li style="float: right;">
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Iniciar Sesión</button>

      </div>

    </li>

    <li style="float: right;margin-top: .7vw;margin-left: .4vw;margin-right: -2px;"><img src="img/prefil.png" width="40"
        height="40" style="display: inline-flex" alt="" /></li>
    
    <li style="float: right;margin-top: .7vw;margin-left: .4vw;"><a href="asesorpri.html" style="padding: 0;"><img
          src="img/carrito.png" width="40" height="40" style="display: inline-flex" alt="" /></a></li>
          

  </ul>
  
<br><br><br<<br><br><br>
 <a href="index.html" class="regresar"><h2>Regresar</h2></a>
 <center> <div style="background: white; width: 90%;height: 460px;margin-top:  5vw
 ;margin-bottom: -4vw;border: 1px rgb(204, 204, 204) solid;">
  <img src="img/91c1dym5lYL.jpg" class="imgco"> 
  <h1 class="h1">Flash #750 deluxe Edition HC 2021</h1>
  <p style="float: left;font-size: 20px;margin-left: -34vw;margin-top: 9vw;">Novela Grafica</p>
  <p style="float: left;font-size: 20px;margin-left: -34vw;margin-top: 11vw;color: rgb(118, 118, 118);">DC Comics</p>
  <p style="float: left;font-size: 20px;margin-left: -34vw;margin-top: 13vw;
  color: rgb(118, 118, 118);">Disponible</p>
    <p align="left" style="float: left;font-size: 18px; width: 900px;
    margin-top: 6vw;margin-left:2vw;
    color: rgb(0, 0, 0);">
Flash # 750 Edición Deluxe HC
Novela Grafica
DC comics
Disponible
El emblemático número 750 de The Flash se encuentra ahora en una edición de lujo de tapa dura, ¡con historias de un elenco de escritores y artistas estelares! Cuando comienza 'The Flash Age', un Speed ​​Force sobrealimentado causa estragos en la vida de Barry Allen. Además, el epílogo de Flash Forward muestra a Wally West adaptándose a sus nuevos poderes, ¡y mucho más!
</p>
<h2 style="font-weight: 400;float: left; margin-left: 2vw;margin-top: -.2vw;">$550.00</h2>
 <button class="btna">Agregar al carrito</button>
</div>
</center>
 






</body>

</html>