<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="img/Comics.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/principal.css">
  <title>Inicio | ComicsForce</title>
  <script src="JS/principal.js"></script>
</head>

<body class="container" >
  <ul>

    <li><img class="ipn" src="img/Comics.png"></li>
    <li> <input class="nav" type="search" placeholder="Encuentra un Articulo" id="nav"  onkeypress="return (event.charCode !== 60 && event.charCode !== 62)"></li>
    <button class="butcarr" type="submit" onclick="prueb()"><img class="butcar" src="img/buscar.png"></button>

   

    <li style="float: right;">
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Rodriguez Reyes José Manuel</button>

      </div>

    </li>

    <li style="float: right;margin-top: .7vw;margin-left: .4vw;margin-right: -2px;"><img src="img/prefil.png" width="40"
        height="40" style="display: inline-flex" alt="" /></li>
    
    <li style="float: right;margin-top: .7vw;margin-left: .4vw;"><a href="asesorpri.html" style="padding: 0;"><img
          src="img/carrito.png" width="40" height="40" style="display: inline-flex" alt="" /></a></li>
          

  </ul>
  <div id="myDropdown" class="dropdown-content">
    <center><a href="perfil.html">Mi Perfil</a>
      <a href="inicarsesion.html">Cerrar Sesión</a>
    </center>

  </div>

 <center> <div style="background: url(img/banner.png); width: 1300px;height: 500px;margin-top:  8vw;margin-bottom: -4vw;">


  </div>

 
  <table class="marcas">
    
      <td style="background: white;"><img src="img/Logo_de_Dark_Horse_Comics.png" style="width: 90px;"></td>
      <td style="background:white;"><img src="img/DC_Comics_logo.svg.png" style="width: 90px;"></td>
      <td style="background:white;"><img src="img/Marvel-Comics-logo.png" style="width: 90px;"></td>
      <td style="background:white;"><img src="img/Archiecomicslogo.png" style="width: 90px;"></td>
    </tr>
  </table>
</center>
<h1 style="margin-left:3vw;">Articulos Nuevos</h1>

<div class="articulosn">
  <img src="img/button.jpg" class="comimg">
  <div class="datos">
  <h2 class="semana">Esta Semana</h2>
  <p class="artp"> 193 artículos nuevos</p>
  <button class="boton">  Ver Artículos</button>
</div>

</div>

<div class="articulosn">
  <img src="img/spiderman.jpg" class="comimg">
  <div class="datos">
  <h2 class="semana">Semana Pasada</h2>
  <p class="artp"> 105 artículos nuevos</p>
  <button class="boton">  Ver Artículos</button>
</div>
</div>
<div class="articulosn">
  <img src="img/jimm lee.jpg" class="comimg">
  <div class="datos">
  <h2 class="semana">Semana 3</h2>
  <p class="artp"> 97 artículos nuevos</p>
  <button class="boton">  Ver Artículos</button>
</div>
</div>
<div class="articulosn">
  <img src="img/portada-97-daredevil.jpg" class="comimg">
  <div class="datos">
  <h2 class="semana">Semana 4</h2>
  <p class="artp"> 156 artículos nuevos</p>
  <button class="boton">  Ver Artículos</button>
</div>
</div>

<div class="articulosn">
  <img src="img/EaFiS5IXgAMNqdk.jpg" class="comimg">
  <div class="datos">
  <h2 class="semana">Semana 5</h2>
  <p class="artp"> 176 artículos nuevos</p>
  <button class="boton">  Ver Artículos</button>
</div>
</div>
<div class="articulosn">
  <img src="img/zzjl.jpg" class="comimg">
  <div class="datos">
  <h2 class="semana">Semana 4</h2>
  <p class="artp"> 150 artículos nuevos</p>
  <button class="boton"> Ver Artículos</button>
</div>
</div>

<h1 style="margin-left:3vw;">Recomendaciones</h1>


<div class="productos">
  <center><img src="img/7KPSTPIW6NFIVBX2BOXVLMX7PY.jpg" class="prodimg"> 
   <h3 class="comicname">Flash 4th Series #87</h3>
   <h3>$110.00</h3>
  </center> 
 </div>
 
 <div class="productos">
   <center><img src="img/avatara.jpg" class="prodimg"> 
    <h3 class="comicname">Avatar The Last Airbender Smoke & Shadow Library Ed HC</h3>
    <h3>$1058.00</h3>
   </center> 
  </div>
  
 <div class="productos">
   <center><img src="img/Free_Comic_Book_Day_Vol_2015_Secret_Wars.jpg" class="prodimg"> 
    <h3 class="comicname">Secret Wars #0</h3>
    <h3>$210.00</h3>
   </center> 
  </div>
  
 <div class="productos">
   <center><img src="img/91momFQRL3S.jpg" class="prodimg"> 
    <h3 class="comicname">Death metal TP</h3>
    <h3>$550.00</h3>
   </center> 
  </div>
  
  
<a href="comic.html" style="padding: 0;text-decoration: none; color: #000;"><div class="productos">
  <center><img src="img/91c1dym5lYL.jpg" class="prodimg"> 
   <h3 class="comicname">Flash #750 Deluxe ED</h3>
   <h3>$550.00</h3>
  </center> 
 </div></a>
 
  
 <div class="productos">
   <center><img src="img/1.jpg" class="prodimg"> 
    <h3 class="comicname">Batman 2nd Series #72</h3>
    <h3>$88.00</h3>
   </center> 
  </div>
  
 <div class="productos">
   <center><img src="img/Amazing_Spider-Man_Vol_1_800.jpg" class="prodimg"> 
    <h3 class="comicname">Amazing Spider-Man #800</h3>
    <h3>$263.00</h3>
   </center> 
  </div>
  <div class="productos">
   <center><img src="img/SPAWN.jpg" class="prodimg"> 
    <h3 class="comicname">Spawn #270</h3>
    <h3>88.00</h3>
   </center> 
  </div>

 <hr class="fin">

  






</body>

</html>