<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="img/Comics.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/ini.CSS">
  <title>Inicio | ComicsForce</title>
  <script src="JS/principal.js"></script>
</head>

<body class="container" >
  <ul>

    <li><a href="IndexconInicio.html" style="padding: 0;"><img class="ipn" src="img/Comics.png"></a></li>
    <li> <input class="nav" type="search" placeholder="Encuentra un Articulo" id="nav"  onkeypress="return (event.charCode !== 60 && event.charCode !== 62)"></li>
    <button class="butcarr" type="submit" onclick="prueb()"><img class="butcar" src="img/buscar.png"></button>

   

    <li style="float: right;">
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Registrarse</button>

      </div>

    </li>

    <li style="float: right;margin-top: .7vw;margin-left: .4vw;margin-right: -2px;"><img src="img/prefil.png" width="40"
        height="40" style="display: inline-flex" alt="" /></li>
    
    <li style="float: right;margin-top: .7vw;margin-left: .4vw;"><a href="asesorpri.html" style="padding: 0;"><img
          src="img/carrito.png" width="40" height="40" style="display: inline-flex" alt="" /></a></li>
          

  </ul>


 <center> <div style="background: white; width: 500px;height: 400px;margin-top:  11vw;margin-bottom: -4vw;">
  
    <h2 style="float: left; margin-left: 2vw;font-weight: 500;"> Inicia Sesi칩n</h2><br><br><br><br>
    <input type="text" placeholder="e-mail" style="border-radius: 2px;border: 1px grey solid;
    font-size: larger;float: left;margin-left: 2vw;width: 80%;padding: 1vw;">
    <br> <br> <br> <br> 
    <input type="text" placeholder="Contrase침a" style="border-radius: 2px;border: 1px grey solid;
    font-size: larger;float: left;margin-left: 2vw;width: 80%;padding: 1vw;">
    <br><br><br><br><br>
    <a style="padding: 0;" href="index.html"><input type="button" value="Iniciar Sesi칩n"  class="ini" ></a>
    <br><br>
    <hr style="width: 80%; border: .1 rgba(128, 128, 128, 0.796) solid ;background: gray;">
    
    <table>
        <tr>
            <td>Crea una cuenta</td>
            <td style="color: black;">/</td>
            <td>Olvide mi contrase침a</td>
        </tr>
    </table>
  </div>
</center>
 






</body>

</html>